:root {
    --background: #333940;
    --heading-color: #FF40CF;
    --p-color: #fff;
    --content-font: "calibri";
    --heading-font: "arial"
}

body {
    background-color: var(--background);
    font-family: var(--content-font);

}

/*Header */
header {
    max-width: 800px;
    width: 100%;
    padding: 0 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    color: var(--heading-color);
    font-size: 200%;
    margin: 30px 0 15px;
    text-align: center;
    font-family: var(--heading-font);
}

header p {
    color: #fff;
    margin-bottom: 50px;
    text-align: center;
}

/* Grid container for section*/
.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;

}

/* Card styles */
/* Card flex properties, spacing and border */
.card {
    flex: 1 1 300px;
    border: 2px dashed #fff;
    color: var(--heading-color);
    padding: 0 15px 15px;
    margin: 0 20px 40px;
    float: left;


}

/* Card header styles, including position relative deflection */
.card h2 {
    font-size: 150%;
    width: 90%;
    border: 2px solid #fff;
    border-radius: 5px;
    position: relative;
    top: -30px;
    background-color: var(--background);
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-family: var(--heading-font);
    text-align: center;
}

/* Card paragraph styles */
.card p {
    color: var(--p-color);
    margin-bottom: 10px;
}

/* Card pre code sections, including white-space style to allow text to wrap */
.card pre {
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    background: linear-gradient(#ed59a3, #d23282, #7D237f);
    font-size: 100%;
    white-space: pre-wrap;
    user-select: all;
}

/* END code card styles */

/* Footer*/
footer {
    color: #fff;
    text-align: center;


}

/* Card transition glow*/
.card .card-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.card:hover,
.card:hover .card-header {
    box-shadow: inset 0px 0px 8px 
    rgba(232, 102, 236, 1), 
    0 0 15px 
    rgba(232, 102, 236, 1);
}

/* User select function*/
.card {
    user-select: text;
}

/* Media queries*/

@media only screen {
    

    #flex-container {
        grid-template-areas:
            "card card"
            "card card"
            "card card";
    }

    .card {
        grid-template-rows: 300px 300px 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "flexbox-row"
            "flexbox-xcolumn"
            "grid-layout"
            "linear-gradiants"
            "transition-glow"
            "overlay-card-with-title"
        ;
    }
}
